/* .place-item {
  margin: 1rem 0;
} */

.place-item__content {
  position: relative;
  padding: 0;
}

.place-item__info {
  padding: 1rem;
  text-align: center;
}

.place-item__image {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}

.place-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.place-item__info h2,
.place-item__info h3,
.place-item__info p {
  margin: 0 0 0.5rem 0;
}

.place-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.place-item__modal-content {
  padding: 0;
}

.place-item__modal-actions {
  text-align: right;
}

.place-item__actions button,
.place-item__actions a {
  margin: 0.5rem;
}

.map-container {
  height: 20rem;
  width: 100%;
}

@media (min-width: 768px) {
  .place-item__image {
    height: 20rem;
  }
}

@media (min-width: 768px) {
  .place-item-userPlaces {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin: 10px 0;
    width: 50%;
  }

  .place-item-userPlaces a {
    text-decoration: none;
    color: #659dbd;
  }

  .place-item-userPlaces:nth-child(odd) {
    align-self: flex-end;
    padding-right: 0px;
    padding-left: 30px;
  }

  .place-item-userPlaces .place-item__content::after {
    content: "";

    background-color: #bc986a;
    position: absolute;
    transform: rotate(45deg);
    right: -38px;
    top: calc(50% - 7.5px);
    width: 15px;
    height: 15px;
    overflow: visible;
    z-index: 10;
  }

  .place-item-userPlaces:nth-child(odd) .place-item__content::after {
    right: auto;
    left: -38px;
    overflow: visible;
    top: calc(50% - 7.5px);
    z-index: 10;
  }

  .place-item-userPlaces .place-item__date {
    position: absolute;
    right: -50%;
    top: calc(50% - 7.5px);
  }

  .place-item-userPlaces:nth-child(odd) .place-item__date {
    position: absolute;
    left: -50%;
    top: calc(50% - 7.5px);
  }

  .place-item {
    width: 50%;
    height: 600px;
    padding: 0px 10px;
  }

  .place-item a {
    text-decoration: none;
    color: #659dbd;
  }
}
